/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.dropdown-materialstate-selector {
	-fx-background-color: -fx-background;
	-fx-background-insets: 0, 1, 2;
	-fx-padding: 10 10 10 10;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.scroll-pane {
   -fx-background: -fx-control-inner-background;
}