/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.dropdown-hue-box-color-picker {
	-fx-background-color: -fx-background;
	-fx-background-insets: 0, 1, 2;
	-fx-padding: 15 15 15 15;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.dropdown-hue-box-color-picker .hue-indicator {
	-fx-background-color: null;
	-fx-border-color: white;
	-fx-border-radius: 5px;
	-fx-translate-x: -5px;
	-fx-translate-y: -5px;
	-fx-pref-width: 30px;
	-fx-pref-height: 10px;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}

.dropdown-hue-box-color-picker .color-indicator {
	-fx-background-color: null;
	-fx-border-color: white;
	-fx-border-radius: 5px;
	-fx-translate-x: -5px;
	-fx-translate-y: -5px;
	-fx-pref-width: 10px;
	-fx-pref-height: 10px;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}